{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "printWidth": 100,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^#(.*)$",
    "",
    "^\\w(.*)$",
    "^@(?!/).+$",
    "",
    "^@/lib/(?!preset/)(.*)$",
    "^@/lib/preset/(.*)$",
    "^@/components/(.*)$",
    "^@/(.*)$",
    "",
    "^\\.\\./(.*)$",
    "",
    "^\\./(.*)$"
  ],
  "importOrderParserPlugins": ["typescript"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "importOrderParserPlugins": ["typescript"]
      }
    }
  ]
}
